In [1]:
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
df = pd.read_excel("pps.xlsx", usecols='C,R:X')
df

,연도,연구 키워드,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1525,2021.0,위험도 지표,노출변수,상관분석,인구자동차계수,자동차도로계수,NaN,NaN
1526,2021.0,수요분석,게임이론,지역간 철도,대중교통 만족도,대기시간,NaN,NaN
1527,2021.0,사업용 자동차,위계적 모형,내재적 사고요인,로지스틱 회귀분석,운수종사자,NaN,NaN
1528,2021.0,jerk,분류기,SDI,서포트벡터머신,교통안전대체지표,NaN,NaN
1529,2021.0,자율주행차,자율협력주행,자율주행 전용차로,혼합교통류,연속류,NaN,NaN

In [3]:
tpl = (2000, 2005)

In [4]:
df.query('연도 >= @tpl[0] and 연도 < @tpl[1]')

,연도,연구 키워드,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
1,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
364,2004.0,도로 설계,선형 안전성,연결선형,주행속도,주행속도 프로파일,NaN,NaN
365,2004.0,COSMOS,실시간 신호제어,현시배분 알고리즘,최소녹색시간,WATSIM,NaN,NaN
366,2004.0,신경망 모델선정,교통량 예측,오류 역전파 알고리즘,AIC,시계열 분석,NaN,NaN
367,2004.0,고정식신호제어,감응식신호제어,혼합정수선형계획법,ATMS,신호제어변수,신호상태변수,NaN
368,2004.0,통행시간,AVI,추정,예측,칼만필터링,ATIS,NaN

# Task
상위 20개 키워드 변화를 보기 위하여 3개년별로 키워드를 종합하여 분석

## Solution
다음의 Split-Apply-Combine 방식을 따른다.

* Step 1. 데이터프레임을 기준년도 2개를 조건으로하여 자료를 재분배
* Step 2. `collections.Counter` 객체를 활용하여 3개년마다 키워드를 카운트 및 정렬(단, 키워드만 추출할 것)
* Step 3. 상위 100개 키워드만 추출 후 `pd.DataFrame`으로 재구조화 및 저장

In [5]:
ls = {}
COUNT = {}

for tpl in [(2011, 2013), (2014, 2016), (2017, 2019), (2020, 2021)]:
    ls[tpl] = df.query('연도 >= @tpl[0] and 연도 <= @tpl[1]').iloc[:, 1:].values.ravel()
    COUNT[tpl] = df.query('연도 >= @tpl[0] and 연도 <= @tpl[1]').shape[0]

In [6]:
len(ls)

4

In [7]:
COUNT

{(2011, 2013): 180, (2014, 2016): 164, (2017, 2019): 122, (2020, 2021): 99}

In [8]:
counter_dc = {}

for year, content in ls.items():
    words = content[pd.notnull(content)]
    words_counter = Counter(words)
    counter_dc[year] = np.array(words_counter.most_common(100))[:, 0]

In [9]:
counter_dc.get((2014, 2016))

array(['보행자', '대중교통', '신호교차로', '교통안전', '고속도로', '교통사고', '사고모형', '회전교차로',
       '보행환경', '시뮬레이션', '다중회귀분석', '음이항 모형', '교통수요예측', '트램', '혼잡통행료',
       '고령자', '공사구간', '온실가스', '주행거리', '가구통행실태조사', '회귀분석', '통행행태',
       '대중교통중심개발', '재방문의도', '버스', '회귀모형', '기상조건', '교통수요관리', '대중교통전용지구',
       '지하철', '교통카드자료', '이항 로지스틱 회귀분석', '신호위반', '구조방정식', '포화도', '철도화물',
       '사고분석', '우선신호', '보행특성', '사고 예측', '오르막차로', '구조방정식모형', '군집분석',
       '보행안전', '통행특성', '연비', '빅 데이터', '보행자도로', '연료소모량', 'Social path',
       '계량경제모형', '공공자전거', '토빗모형', '횡단보도', '보행교통류', '탄소배출량', 'CO2', '설문조사',
       '상관분석', '접근성', '중력모형', '이력자료', '다항로짓모형', '네스티드로짓모형', '서비스 수준',
       '순서형 프로빗 모형', '조건부가치측정법', '사고 심각도', '공공보건', '상향식', 'Tier 3',
       'IPCC', '수요탄력성', '휘발유가격 영향', '시계열분석', '대중교통수요', '주택유형', '교통정보',
       '만족', '서비스 품질', '웹퀄', '사고호발성향', '운전자 성격', '아이젱크 성격검사',
       '한국형 아이젱크성격검사', '절단포아송모형', '절단음이항모형', '상용차량', '충돌사고', '강제충돌',
       '타이어 충격량', '탄력성', '기하구조', '고속도로 사고', '한계 효과', '교차방정식 제약검정', '강수량',
       '대중교통 승객수', '편익/비용분석', '자료포락분석(DEA)'], dtype='<U21')

In [10]:
pd.DataFrame(counter_dc).to_csv("k3y_counter.csv", encoding='utf-8', index=False)